{% extends "base.html" %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <h1>Login</h1>

    <div style="display: flex; justify-content: center;">

        <form method="post" style="max-width: 400px; margin: 0 auto;">

            {% csrf_token %}

            <div style="margin-bottom: 15px;">
                <label for="username" style="display: block; font-weight: bold; margin-bottom: 5px;">Username:</label>
                <input type="text" id="username" name="username">
            </div>

            <div style="margin-bottom: 15px;">
                <label for="password" style="display: block; font-weight: bold; margin-bottom: 5px;">Password:</label>
                <input type="password" id="password" name="password">
            </div>

            <button type="submit" style="display: inline-block; padding: 10px 20px; background-color: #FFA500; color: white;
                    text-decoration: none; border: none; border-radius: 5px; cursor: pointer; margin-top: 5px;
                    margin-bottom: 5px; width: 120px">
                Login
            </button>

        </form>

    </div>

    <div style="display: flex; justify-content: center;">
        <a href="{% url 'register' %}" style="text-decoration: none; color: blue;">Not registered yet? Click here.</a>
    </div>

{% endblock %}
