{% extends "base.html" %}

{% block content %}

<h1 style="text-align: center; padding-top: 15px;">Login</h1>

<form action="{% url 'robot-run' %}" method="post" novalidate style="padding-left: 400px;">

    {% csrf_token %}

    {% for field in form %}
        <div style="margin-bottom: 10px;">
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}

    <button type="submit" style="display: inline-block; padding: 10px 20px; background-color: #FFA500; color: white;
                text-decoration: none; border: none; border-radius: 5px; cursor: pointer; margin-top: 5px;
                margin-bottom: 5px; width: 120px">
        Login
    </button>

</form>

<center>
    <a href="{% url 'register' %}" style="text-align: center;">Not registered yet? Click here.</a>
</center>

{% endblock %}