{% extends "base.html" %}

{% block content %}

<h1 style="text-align: center; padding-top: 15px;">Register new robot</h1>

<center>
    <a href="{% url 'robot-detail' %}"
     style="display: inline-block; padding: 10px 20px; background-color: #FFA500; color: white;
            text-decoration: none; border: none; border-radius: 5px; cursor: pointer; margin-top: 5px;
            margin-bottom: 5px">
      Register Robot
  </a>
</center>

<center>
    <a href="{% url 'robot-run' %}"
     style="display: inline-block; padding: 10px 20px; background-color: #FFA500; color: white;
            text-decoration: none; border: none; border-radius: 5px; cursor: pointer; margin-top: 5px;
            margin-bottom: 5px">
      Go to dashboard
  </a>
</center>

<center>
    <a href="{% url 'logout' %}"
     style="display: inline-block; padding: 10px 20px; background-color: blue; color: white;
            text-decoration: none; border: none; border-radius: 5px; cursor: pointer; margin-top: 5px;
            margin-bottom: 5px">
      Logout
  </a>
</center>

{% endblock %}