{% extends "base.html" %}

{% block content %}

<h1 style="text-align: center; padding-top: 15px;">Register</h1>

<form action="{% url 'login' %}" method="post" style="padding-left: 400px;">


    {% csrf_token %}

        <button type="submit" style="display: inline-block; padding: 10px 20px; background-color: #FFA500; color: white;
                    text-decoration: none; border: none; border-radius: 5px; cursor: pointer; margin-top: 5px;
                    margin-bottom: 5px; width: 120px">
            Register
        </button>

</form>

{% endblock %}