{% extends "base.html" %}

{% block content %}


  <div style="background-color: white; height: 560px; padding-left: 15px; ">

      <a href="{% url 'register-robot' %}"
         style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: white;
                text-decoration: none; border: none; border-radius: 5px; cursor: pointer; margin-top: 5px;
                margin-bottom: 5px">
          Register New Robot
      </a>

      <form action="{% url 'robot-detail' %}" method="post">
        {% csrf_token %}
        <label for="redirectDropdown">Select a robot:</label>
        <select id="redirectDropdown" name="selected_page">
            <option value="" selected disabled>Select an option</option>
            {% for item in data_robot %}
                <option value="{{ item.id }}" >{{ item.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Go to robot detail</button>
      </form>

    <p>Filtering by status calls get_list() with filtering option</p>

    <p>Add option to sort by ... Default is by ID (by distance). Order by statistic - in view</p>

    <table style="background-color: white; padding-top: 15px; width: 1370px">
        <thead>
            <tr style="background-color: #333333; height: 40px; color: white">
                <th>NAME</th>
                <th>STARTED</th>
                <th>FINISHED</th>
                <th>STATUS</th>
                <th>DISTANCE (m)</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data_robot_run %}
                <tr style="background-color: lightgrey; height: 30px">
                    <td>{{ item.name }}</td>
                    <td>{{ item.started }}</td>
                    <td>{{ item.finished }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.distance }}</td>
                </tr>
            {% endfor %}
        <tbody>
    </table>

    <center>
        <a href="{% url 'logout' %}"
         style="display: inline-block; padding: 10px 20px; background-color: blue; color: white;
                text-decoration: none; border: none; border-radius: 5px; cursor: pointer; margin-top: 5px;
                margin-bottom: 5px">
          Logout
      </a>
    </center>

  </div>

{% endblock %}