{% extends "base.html" %}

{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    <h1>Robot detail</h1>

    <p style="margin-left: 550px;">NAME: {{ data.name }}</p>
    <p style="margin-left: 550px;">MOTOR TYPE: {{ data.motor_type }}</p>
    <p style="margin-left: 550px;">NEXT RUN: {{ data.next_run }}</p>

<form method="post" style="margin-left: 400px;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="next_run">Update next run</button>
</form>

<center>
    <a href="{% url 'robot-run' %}"
     style="display: inline-block; padding: 10px 20px; background-color: #FFA500; color: white;
            text-decoration: none; border: none; border-radius: 5px; cursor: pointer; margin-top: 5px;
            margin-bottom: 5px; width: 120px">
      Go to dashboard
  </a>
</center>

<center>
    <form method="post">

        {% csrf_token %}

        <input type="hidden" name="robot_name" value="{{ data.name }}">

        <button type="submit"
                style="display: inline-block; padding: 10px 20px; background-color: red; color: white;
                text-decoration: none; border: none; border-radius: 5px; cursor: pointer; margin-top: 5px;
                margin-bottom: 5px; width: 120px">
            Delete
        </button>

    </form>
</center>

<center>
    <a href="{% url 'logout' %}"
     style="display: inline-block; padding: 10px 20px; background-color: blue; color: white;
            text-decoration: none; border: none; border-radius: 5px; cursor: pointer; margin-top: 5px;
            margin-bottom: 5px; width: 120px">
      Logout
  </a>
</center>

{% endblock %}