{% extends "base.html" %}

{% block content %}

  <div style="background-color: white; height: 560px; padding-left: 15px;">

    <table style="background-color: white; padding-top: 15px; width: 1370px">
        <tr style="background-color: #333333; height: 40px; color: white">
            <th>Robot ID</th>
            <th>Robot name</th>
            <th>Status</th>
            <th>Start</th>
            <th>End</th>
        </tr>
        <tr style="background-color: lightgrey; height: 30px">
            <td>Data 1</td>
            <td>Data 2</td>
            <td>Data 3</td>
            <td>Data 3</td>
            <td>Data 3</td>
        </tr>
        <tr style="background-color: lightgrey; height: 30px">
            <td>Data 4</td>
            <td>Data 5</td>
            <td>Data 6</td>
            <td>Data 3</td>
            <td>Data 3</td>
        </tr>
        <tr style="background-color: lightgrey; height: 30px">
            <td>Data 4</td>
            <td>Data 5</td>
            <td>Data 6</td>
            <td>Data 3</td>
            <td>Data 3</td>
        </tr>
        <tr style="background-color: lightgrey; height: 30px">
            <td>Data 4</td>
            <td>Data 5</td>
            <td>Data 6</td>
            <td>Data 3</td>
            <td>Data 3</td>
        </tr>
    </table>

  </div>

{% endblock %}