#base-header-div {
    background-color: #333333;
    height: 50px;
}

#common-dashboard-title-and-content-div {
    background-color: lightgrey;
}

#dashboard-title-div {
    background-color: lightgrey;
    height: 120px;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-dashboard-content-div {
    background-color: white;
    height: 600px;
}
